 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>CASCADIA booking is a boutique agency based in Portland, Ore. for musicians, bands and artists based in or seeking to tour the Pacific Northwest.</p>
                </div>
                <div class="col-lg-4">
                    <p>With our regional focus...</p>
                </div>
            </div>
        </div>
    </section>
