<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			

	<div class="page-contact--alert-container"></div>

	<div class="page-contact--title">
		<h1>{{ page.title }}</h1>
	</div><!-- title -->

	<form class="form" id="contact-form" autocomplete="off" novalidate>
		<input type="text" name="_gotcha" style="display:none">
		<input type="hidden" name="_subject" value="Message from raniesantos.github.io contact page">
		<!-- <input type="hidden" name="_next" value="//mywebsite.com/thanks.html"> -->

		<div class="form--group">
			<label>Name</label>
			<input type="text" name="name">
		</div>
		<div class="form--group">
			<label>Email</label>
			<input type="email" name="_replyto">
		</div>
		<div class="form--group">
			<label>Message</label>
			<textarea name="message"></textarea>
		</div>

		<div class="form--group page-contact--submit">
			<button type="submit" class="cta">
				<i class="fa fa-envelope"></i> Send Me a Message
			</button>
		</div>
	</form>
<script>
			function getFormSubmitURL(){
	var base64_email = "Y29udGFjdEBjYXNjYWRpYS5hZw==";
	return "//formspree.io/" + atob(base64_email);
}

function showAlert($container, $alert){
	$container.empty().append($alert);
}

function submitContactForm($contactForm){
	var $alertContainer = $(".page-contact--alert-container"),
			$submitButton = $contactForm.find('[type="submit"]');

	$.ajax({
		url: getFormSubmitURL(),
		method: "POST",
		data: $contactForm.serialize(),
		dataType: "json",
		beforeSend: function(){
			$submitButton.attr("disabled", true);
			showAlert($alertContainer, '<div class="alert"><i class="fa fa-spin fa-spinner"></i>Sending message...</div>');
		},
		success: function(data){
			$submitButton.attr("disabled", false);
			showAlert($alertContainer, '<div class="alert success"><i class="fa fa-check-circle"></i>Message sent.</div>');
			$contactForm.trigger("reset");
		},
		error: function(err){
			$submitButton.attr("disabled", false);
			showAlert($alertContainer, '<div class="alert danger"><i class="fa fa-times-circle"></i>Something went wrong. Try again.</div>');
		}
	});
};
			</script>
</div>
			</div>
		</div>
	</div>
</section>
