<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="page-contact">

	<div class="page-contact--alert-container"></div>

	<div class="page-contact--title">
		<h1>{{ page.title }}</h1>
	</div><!-- title -->

	<form class="form" id="contact-form" autocomplete="off" novalidate>
		<input type="text" name="_gotcha" style="display:none">
		<input type="hidden" name="_subject" value="Message from raniesantos.github.io contact page">
		<!-- <input type="hidden" name="_next" value="//mywebsite.com/thanks.html"> -->

		<div class="form--group">
			<label>Name</label>
			<input type="text" name="name">
		</div>
		<div class="form--group">
			<label>Email</label>
			<input type="email" name="_replyto">
		</div>
		<div class="form--group">
			<label>Message</label>
			<textarea name="message"></textarea>
		</div>

		<div class="form--group page-contact--submit">
			<button type="submit" class="cta">
				<i class="fa fa-envelope"></i> Send Me a Message
			</button>
		</div>
	</form>
</div>
</div>
	</div>
</section>
