    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name"><h1>{{ site.titleA }}</h1> <h2>{{ site.titleB }}</h2></span>
                        <span class="skills">{{ site.tag }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
